@import 'reset';
@import 'variables/global';
@import 'variables/font';
@import 'themes/dark';
@import 'themes/light';

.app {
	min-height: 100vh;
	color: var(--color-primary);
	background: var(--steel-gray-bg);
}

.content {
	display: flex;
}

.wrapper {
	flex-grow: 1;
	height: calc(100vh - 61px);
	padding: 20px 40px;
}
