@font-face {
  font-family: Regular;
  src: url('../fonts/SFProText-Regular.ttf');
}

@font-face {
  font-family: Medium;
  src: url('../fonts/SFProText-Medium.ttf');
}

@font-face {
  font-family: Bold;
  src: url('../fonts/SFProText-Bold.ttf');
}
