.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;

  svg {
    width: 30px;
    height: 30px;
    color: var(--blue-themed);
  }
}

.company-name {
  font-size: 20px;
  font-family: var(--font-family-bold);
  line-height: 24px;
  letter-spacing: 0.38px;
}

.uppercase {
  text-transform: uppercase;
}
