.popup-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  max-height: 700px;
  padding: 32px 40px 28px;
  color: var(--gray-900);
  text-align: center;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 96px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
  row-gap: 16px;
}

.icon {
  color: var(--blue-400);
}

.title {
  font-size: 22px;
  line-height: normal;
  letter-spacing: 0.352px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  column-gap: 10px;
}
