.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: var(--white);
  border-bottom: 1px solid var(--steel-gray-80);
}

.dropdown {
  margin-left: auto;
}
