.headline {
	color: inherit;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.32px;

}

.regular {
	font-family: var(--font-family-regular);
}

.medium {
	font-family: var(--font-family-medium);
}
