.content {
  position: relative;
  width: 440px;
  max-height: 700px;
  color: var(--gray-900);
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 96px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
}

.header {
  padding: 15px 0;
  color: inherit;
  font-size: 22px;
  font-family: var(--font-family-regular);
  line-height: normal;
  letter-spacing: 0.352px;
  text-align: center;
  border-bottom: 1px solid var(--steel-gray-80);
}

.body  {
  display: flex;
  justify-content: center;
  padding: 32px 40px;
}
