.subhead {
	color: inherit;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.154px;

}

.regular {
	font-family: var(--font-family-regular);
}

.medium {
	font-family: var(--font-family-medium);
}

.bold {
	font-family: var(--font-family-bold);
}
