.text {
	color: inherit;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.24px;

}

.error {
	color: var(--red-bright);
}

.regular {
	font-family: var(--font-family-regular);
}

.medium {
	font-family: var(--font-family-medium);
}
