.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	font-style: normal;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all ease-in-out .2s;

	&:disabled {
		cursor: auto;
		opacity: 0.4;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	line-height: 0;
}

.stretched {
	width: 100%;
}

.s {
	gap: 6px;
	height: 26px;
	padding: 0 16px;
	font-weight: 400;
	font-size: 13px;
	font-family: var(--font-family-regular);
	line-height: 16px;
	letter-spacing: -0.078px;

	svg {
		width: 16px;
		height: 16px;
	}
}

.m {
	gap: 6px;
	height: 32px;
	padding: 0 16px;
	font-weight: 400;
	font-size: 15px;
	font-family: var(--font-family-regular);
	line-height: 20px;
	letter-spacing: -0.24px;

	svg {
		width: 24px;
		height: 24px;
	}
}

.l {
	gap: 8px;
	height: 40px;
	padding: 0 20px;
	font-weight: 500;
	font-size: 15px;
	font-family: var(--font-family-medium);
	line-height: 20px;
	letter-spacing: -0.24px;

	svg {
		width: 24px;
		height: 24px;
	}
}

.primary {
	color: var(--white);
	background: var(--blue-themed);

	&:hover {
		background: var(--blue-hover);
	}

	&:active {
		background: var(--blue-active);
	}
}

.secondary {
	color: var(--blue-themed);
	background: var(--steel-gray-themed);

	&:hover {
		color: var(--blue-hover);
		background: var(--steel-gray-hover);
	}

	&:active {
		color: var(--blue-active);
		background: var(--steel-gray-active);
	}
}

.outline {
	color: var(--blue-themed);
	background: transparent;
	box-shadow: inset 0 0 0 1px var(--blue-themed);

	&:hover {
		color: var(--blue-hover);
		background: var(--steel-gray-bg-hover);
		box-shadow: inset 0 0 0 1px var(--blue-hover);
	}

	&:active {
		color: var(--blue-active);
		background: var(--steel-gray-bg-active);
		box-shadow: inset 0 0 0 1px var(--blue-active);
	}
}

.commerce {
	color: var(--white);
	background: var(--green);

	&:hover {
		color: var(--white);
		background: var(--green-hover);
	}

	&:active {
		color: var(--white);
		background: var(--green-active);
	}
}

.overlay-primary {
	color: var(--gray-800);
	background: var(--white);
}

.overlay-secondary {
	color: var(--white);
	background: var(--white-alpha-24);
}

.overlay-outline {
	color: var(--white);
	background: transparent;
	border: 1px solid var(--white);
}

.clear {
	color: var(--black);
	background: transparent;

	&:hover {
		color: var(--blue-hover);
		opacity: .8;
	}
}

.spinner-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
}

.spinner {
	transform-origin: center;
	animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	visibility: hidden;
}

