.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--black);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
